---
layout: page
permalink: /blog
---

<div class="posts">

{% for post in site.posts %}

    <article class="post all
                {% for tag in post.tags %}
                    filterable-{{tag}}
                {% endfor %} "  style="display: block;">
    <hr />

    <div class="row">
        <div  class="col-md-3" style="alignment: center">
            <img src="{{ site.baseurl }}/images/{{post.name_file}}/teaser.png" style="display: block; max-width: 100px"/>
        </div>

        <div  class="col-md-9">
            <h1> <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>, {{post.date | slice: 0,10}}</h1>
            <p style="font-size: 10px;"><i> {{post.lead | slice: 0,180 }}</i><b>...</b></p>

            {% if post.translated != None %}
            <h1><a href="{{ site.baseurl }}{{post.translated}}">(Tradução em Português 🇧🇷)</a></h1>
            {% endif%}
        </div>
    </div>

    </article>
{% endfor %}
<hr />

</div>
