---
layout: page
title:
permalink: /publications
---

<div style="text-align: center;">
    <small style="font-size: 12px;">
        For a complete list, check <a href="https://scholar.google.com/citations?user=IN55QyEAAAAJ&hl=en">Google Schoolar</a>.
        <br />

        ☆: Papers with students I helped to supervised
        <br />
        <br />

    </small>
    <div class="divider div-transparent" style="margin-top: 10px; margin-bottom: 30px"></div>

</div>

<div class="posts">


{% for n in (2017..2021) reversed %}

    {% if n == 2017 %}
        <p style="margin: 0; text-align: center; font-size: 24px">Pre-prints</p>
    <br />
    {% else %}
    <p style="margin: 0; text-align: center; font-size: 24px">{{n}}</p>
    <br />
    {% endif %}

<!--    <hr />-->

  {% for pub in site.publications reversed %}
    {% if pub.year == n %}


    <article class="post all
                {% for tag in pub.tags %}
                    filterable-{{tag}}
                {% endfor %} "
    style="display: block;">

    <div class="row" style="margin-left: 5px; margin-right: 5px;
    border-right-style: solid; border-right-width: 5px; border-right-color: #333333;
    border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #333333">

    <div  class="col-md-4" style="text-align:center; alignment: center">
      <img src="{{ site.baseurl }}/images/paper_teasers/{{pub.name_file}}.png" style="display: inline-flex; max-width: 200px"/>

    </div>

    <div  class="col-md-8" style="alignment: center">

        <div class="entry">

<!--              <h2>{{pub.year}}  ⥋</h2>-->

<!--        {% for tag in pub.tags %}-->
<!--          <div class="post-tag">-->
<!--            [{{ tag }}]-->
<!--          </div>-->
<!--        {% endfor %}-->
      </div>
                <p class="stuff" style="text-align: left; font-size: 15px; margin-top: 10px">[{{pub.conf}}]</p>
        <h1 style="text-align: left; font-size: 15px">
            {{ pub.title }}<sup><small>{{pub.student}}</small></sup>
        </h1>


        <p class="author-tag" style="margin-bottom: 10px; margin-top: 10px">{% for author in pub.authors %}
            {% if author == "Manoel Horta Ribeiro" %}
            <b style="display: inline-block">{{ author }} |</b>
            {% else %}
            {% if author == "Manoel Horta Ribeiro *" %}
            <b style="display: inline-block">{{ author }} |</b>
            {% else %}
            <span style="display: inline-block"> {{ author }} |</span>
            {% endif %}
            {% endif %}
            {% endfor %}</p>
        <p class="stuff">{% for link_content in pub.links %} <a href="{{link_content.content}}"> {{link_content.name}}</a> | {% endfor %}</p>
        {% assign flag = 0 %}
        {% for med in site.media reversed %}
        {% if pub.title == med.related_paper %}
            {% assign flag = 1 %}
        {% endif %}
        {% endfor %}

        {% if flag == 1 %}
        <p class="stuff" style="margin-top: 10px">
            Media Coverage:
        {% for med in site.media reversed %}
        {% if pub.title == med.related_paper %}
            <a href="{{ med.link}}" style="display: inline-block">{{ med.venue }} |</a>
        {% endif %}
        {% endfor %}
                </p>
        {% endif %}

    </div>
    </div>
    </article>
            <br />

    {% endif %}

  {% endfor %}

{% endfor %}

<!--    <hr />-->

</div>
