---
layout: page
title:
permalink: /publications
---

<div style="text-align: center;">
    <small style="font-size: 10px;"> (This is a curated list of publications, for a complete list, check <a href="https://scholar.google.com/citations?user=IN55QyEAAAAJ&hl=en">google schoolar</a>)</small>
</div>

<div class="posts">


{% for n in (2017..2022) reversed %}

    {% if n > 2020 %}
        {% if n == 2022 %}
            <p style="margin: 0; text-align: right">Pre-prints</p>
        {% else %}
        <p style="margin: 0; text-align: right">{{n}} (forthcoming)</p>
        {% endif %}
    {% else %}
        <p style="margin: 0; text-align: right">{{n}}</p>
    {% endif %}

    <hr  style="border-bottom: 1.5px solid #333333; "/>

  {% for pub in site.publications reversed %}
    {% if pub.year == n %}


    <article class="post all
                {% for tag in pub.tags %}
                    filterable-{{tag}}
                {% endfor %} "
    style="display: block;">

    <div class="row">
    <div  class="col-md-3" style="alignment: center">
      <img src="{{ site.baseurl }}/images/paper_teasers/{{pub.name_file}}.png" style="display: inline-block; max-width: 125px"/>

    </div>

    <div  class="col-md-9" style="alignment: center">

        <div class="entry">

<!--              <h2>{{pub.year}}  ⥋</h2>-->

<!--        {% for tag in pub.tags %}-->
<!--          <div class="post-tag">-->
<!--            [{{ tag }}]-->
<!--          </div>-->
<!--        {% endfor %}-->
      </div>

        <h1>{{ pub.title }}</h1>

        <p class="author-tag">{% for author in pub.authors %}
            {% if author == "Manoel Horta Ribeiro" %}
            <b style="display: inline-block">{{ author }} |</b>
            {% else %}
            {% if author == "Manoel Horta Ribeiro *" %}
            <b style="display: inline-block">{{ author }} |</b>
            {% else %}
            <span style="display: inline-block"> {{ author }} |</span>
            {% endif %}
            {% endif %}
            {% endfor %}</p>
        <p class="stuff">{{pub.conf}}</p>
        <p class="stuff">{% for link_content in pub.links %} <a href="{{link_content.content}}"> {{link_content.name}}</a> | {% endfor %}</p>
        {% assign flag = 0 %}
        {% for med in site.media reversed %}
        {% if pub.title == med.related_paper %}
            {% assign flag = 1 %}
        {% endif %}
        {% endfor %}

        {% if flag == 1 %}
        <p class="stuff" style="margin-top: 5px">
            Media Coverage:
        {% for med in site.media reversed %}
        {% if pub.title == med.related_paper %}
            <a href="{{ med.link}}" style="display: inline-block">{{ med.venue }} |</a>
        {% endif %}
        {% endfor %}
                </p>
        {% endif %}

    </div>
    </div>
    </article>
            <hr />

    {% endif %}

  {% endfor %}

{% endfor %}

    <hr />

</div>
