---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
  background: $white;
  font: 18px/1.4 $body;
  color: $darkGray;
}

.container {
  margin: 0 auto;
  max-width: 700px;
  width: 100%;
}

#maincont {
  max-width: 850px;
  width: 100%;

}

a {
  color: $darkGray;
  text-decoration: underline;
  text-decoration-color: $darkGray;

  &:hover, &:visited {
    background: $lightGray;
  }

  &:active {
    background: $gray;
  }

}

h1, h2, h3, h4, h5, h6 {
  font-family: $title;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.5;
  margin: 1em 0 15px;
  padding: 0;


  @include mobile {
    line-height: 1.4;
  }
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

p {
  font-size: 15px;
  margin: 5px;
  color: $black;
}

ul, ol {
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;

}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
  font-size: 12px;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}

::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 4px;
}

.masthead {
  padding: 50px 0px 10px 0px;
  text-align: center;
}

.site-avatar {
  display: block;
  text-align: center;
  height: 100%;

  img {
    max-width: 300px;
    //border-radius: 2000px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
  }
}

.site-info {
  float: none;
  display: block;
  margin: 0 auto;

  a {
    text-decoration: none;
    text-decoration-color: black;

    &:hover, &:visited {
      background: none;
    }

    &:active {
      background: none;
    }
  }
}


.site-name {
  margin: 0 auto;

  a {
    cursor: pointer;
    color: $black;
    font-family: $title;
    font-weight: 500;
    font-size: 35px;
  }
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;
  @include mobile {
    margin: 3px 0;
  }
}

nav {
  font-family: $nav;
  font-size: 16px;
  float: none;
  margin-top: 9px;
  display: block;

  a {
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    font-weight: 300;
  }

}

header {
  padding: 20px;
}

//
// .main
//
.col-md-9 {
  h1 {
    padding-bottom: 5px;
    padding-top: 5px;
  }
}

.col-md-3 {
  text-align: center;
  img {
    margin: 5px auto;
    text-align: center;

  }
}

.pub {

  display: inline-block;
  border-bottom: RGBA(1,1,1,0.25) solid 1px;
  width: 300px;
  margin: 5px auto;

  h1 {
    margin: 2px;
    font-family: $body;
    font-size: 16px;
    border-top: RGBA(1,1,1,0.25) solid 1px;
  }
  i {
    font-size: 12px;
    display: inline;
  }
  .small {
    font-size: 8px;
  }
}

.actual-post {

  img {
    margin-top: 20px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    font-family: $nav;
    font-size: 30px;

  }

  h2 {
    font-family: $nav;
    font-size: 25px;
  }

  h3 {
    font-family: $nav;
    font-size: 20px;
  }

  p, li {
    font-size: 16px;
    font-family: $body;
  }

  code {
    padding: .2em .4em;
    margin: 0;
    font-size: 14px;
    background-color: rgba(27, 31, 35, .05);
    border-radius: 3px;
  }

  pre {
    word-wrap: normal;
  }

  pre > code {
    padding: 0;
    margin: 0;
    font-size: 11px;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;
  }

  .highlight {
    margin-bottom: 12px;
  }

  .highlight pre {
    margin-bottom: 0;
    word-break: normal;
  }

  .highlight pre,
  pre {
    padding: 12px;
    overflow: auto;
    font-size: 11px;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 3px;
  }

  pre code {
    display: inline;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: initial;
    border: 0;
  }

  blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
  }

  blockquote:before {
    color: #ccc;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }

  blockquote p {
    display: inline;
  }
}

footer {
  text-align: center;

  p {
    font-size: 10px;
    font-family: $body;
  }
}

.post {

  padding: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  display: inline-block;
  background: RGBA(0, 0, 0, 0.0025);

  img {
    border: RGBA(1, 1, 1, 0.25) 1px solid;
    margin: 3px;
    padding: 3px;
  }

  h1 {
    margin: 0 auto;
    color: $black;
    font-family: $body;
    font-size: 14px;
  }

  h2 {
    font-family: $body;
    display: inline;
    font-size: 11px;
  }

  h3 {
    font-family: $body;
  }

  .post-tag {
    display: inline;
    padding: 0;
    font-family: $body;
    color: $gray;
    font-size: 10px;
  }

  .author-tag {
    font-family: $body;
    padding: 0;
    margin: 0;
    color: black;
    font-size: 12px;
  }

  .stuff {
    font-family: $body;
    padding: 0;
    margin: 0;
    color: $gray;
    font-size: 10px;
  }
}

#nav-blog {
  h2 {
    display: inline;
    font-size: 12px;
  }

  #tags-nav {
    a {
      margin: 1px;
      display: inline;
      padding: 0;
      font-family: $body;
      color: $gray;
      font-size: 9px;
    }
  }
}

@import "highlights";
@import "svg-icons";
@import "custom";