
//
// VARIABLES
//

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Lora');

// Colors
$blue: #4183C4;
$lightBlue: #69abec;
$lighterBlue: #e6e6ff;
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$body: 'Libre Baskerville', serif;
$title: 'Lora', serif;

$georgia: 'Lora', serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}