<!DOCTYPE html>
<html>
<head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>


    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css"/>
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}"
          href="{{ site.baseurl }}/feed.xml"/>
      <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stuff/slick/slick.css"/>
      <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stuff/slick/slick-theme.css"/>
</head>

<body>

<div id="main" role="main" class="container">
    <a href="{{ site.baseurl }}/blog"><< blog</a>

    {{ content }}

    <a href="{{ site.baseurl }}/blog"><< blog</a>

</div>

<div class="wrapper-footer">
    <div class="container">
        <footer class="footer">
            {% include svg-icons.html %}
        </footer>
    </div>
</div>

{% include analytics.html %}

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/stuff/slick/slick.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('.carousel').slick({
            dots: true,
            infinite: true,
            speed: 500,
            fade: true,
            cssEase: 'linear'
        });
    });
</script>
</body>
</html>
